<container>

<h1>Elections</h1>
<hr></hr>

<form id="formElection" method="post"> 

<fieldset>
  <legend>Veuillez sélectionner le type d'élection :</legend>
  <div>
    <input type="radio" id="presidentielle" value="Presidentielle" name="typeE">
    <label for="national">Nationale</label>
  </div>
  <div>
    <input type="radio" id="municipal" value="Municipale" name="typeE">
    <label for="municipal">Municipale</label>
  </div>
</fieldset>

<br><br>
<p>Date: <input type="text" id="datepicker"></p>
<input id="candidates" type="text" size="60" value="Candidats" />
<input id="infos" type="text" size="60" value="Informations l'élection" />
<button ng-click="saveBallot()" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-save"></span>&nbsp;Enregistrer</button>
</form>
<br>
<a href="#"><button>Return</button></a> 

</container>

