<container>

<form id="formElection" method="post"> 

<fieldset>
  <legend>Veuillez sélectionner le type d'élection :</legend>
  <div>
    <input type="checkbox" id="national" value="Nationale">
    <label for="national">Nationale</label>
  </div>
  <div>
    <input type="checkbox" id="municipal" value="Municipale">
    <label for="municipal">Municipale</label>
  </div>
</fieldset>

<input id="descriptionCandidate" type="text" size="60" value="Description du candidat" />
<input type="button" name="validateForm" value="Valider" onClick="display">
</form> 

</container>

