<container>
	
	<br>
    <h1>Add a polling place</h1>
    
    <hr></hr>
    
    <br>
    <p><input id="department" type="text" size="60" value=" Department" /></p>
    <p><input id="city" type="text" size="60" value=" City" /></p>
    <p><input id="numberPolling" type="text" size="60" value=" Number of the polling place" /></p>
    <br><br>
    <p><button ng-click="savePollingPlace()" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-save"></span>&nbsp;Save</button>
    <a href="#/admin"><button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-home"></span> Return</button></a>
    <div id="success"></div>
   
</container>
