<container>
	
	<br>
    <h1>Ajouter un bureau de votes</h1>
    
    <hr></hr>
    
    <br>
    <input id="department" type="text" size="60" value="Département" />
    <input id="city" type="text" size="60" value="Ville" />
    <br><br>
    <input id="numberPolling" type="text" size="60" value="Numéro du bureau de vote" />
    <br><br>
    <button ng-click="savePollingPlace()" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-save"></span>&nbsp;Enregistrer</button>
    <br><br>
    <a href="#"><button class="btn btn-primary btn-sm">Return</button></a>
</container>
