<container>

<br>
<h1>BALLOT</h1>

<hr></hr>

<br>
<a href="#/createBallot"><button class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-edit"></span>  CREATE A BALLOT</button></a><br>
<br>
<a href="#/createPollingPlace"><button class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-edit"></span>  CREATE A POLLING PLACE</button></a><br>
<br>
<a href="#"><button class="btn btn-primary btn-sm">
			<span class="glyphicon glyphicon-home"></span> Return
		</button></a>
</container>