body {
	background: #E8E8E8 !important;
	text-align: center;
	font: 1em sans-serif;
}

form {
  display: inline-block;
  padding: 0;
  margin : 0;
}

fieldset {
  border : 1px solid #CCC;
  border-radius: 5px;
  margin : 0;
  padding: 1em;
}

label {
  cursor : pointer;
}

p {
  margin : 0;
}

p+p {
  margin : .5em 0 0;
}

footer {
	position: absolute;
	bottom: 0;
	text-align: right;
}